* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #3db36a;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #2a7a48;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

nav a {
    text-decoration: none;
    padding: 10px 16px;
    color: white;
    background-color: #6ac409;
    border-radius: 6px;
    width: 100px;
}

nav a:hover {
    background-color: #234302;
}

.container {
    padding: 40px 20px;
    min-height: 700px;
    max-width: 1200px;
    margin: auto;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 280px;
    padding: 20px;
    text-align: center;  
}

.imagem-produto img {
    width: 90%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.produto h3 {
    margin-top: 15px;
    color: #122201;
    font-size: 20px;
    border-left: 5px solid #6ac409;
    padding-left: 10px;
    text-align: left;
}

.produto p {
    margin: 8px 0;
    font-size: 15px;
}

.preco {
    font-weight: bold;
    font-size: 18px;
    color: #2b7a0b;
}

.botao-comprar {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: #3db36a;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.botao-comprar:hover {
    background-color: #234302;
}

footer {
    background-color: #3db36a;
    color: white;
    border-top: 4px solid #6ac409;
    text-align: center;
    padding: 30px 20px;
    margin-top: 40px;
}

/* MEDIA QUERIES PARA RESPONSIVIDADE */

@media (max-width: 768px) {
    .produto {
        max-width: 45%;
    }
}

@media (max-width: 580px) {
    .produto {
        max-width: 100%;
    }
    .nav{
        flex-direction: column;

    }
}
